<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{base}">
    <head>
        <meta name="description" content="Armed Forces Command and Staff College - Learning Management Home Page"/>
        <title>Home Page</title>
    </head>
    <body>
        
        <th:block layout:fragment="breadcrumb">
            <span class="breadcrumb-item">Home</span>
        </th:block>
        
        <th:block layout:fragment="page_content_heading">
            Welcome to the AFCSC Learning Management Interface
        </th:block>
        
        <th:block layout:fragment="scripts"></th:block>
    </body>
</html>
